<p>Listadode héroes</p>

<ul *ngFor="let heroe of heroes; let i = index">
  <li>{{ i + 1 }}) {{heroe}}</li>
</ul>

<button (click)="borrarHeroe()">
  Borrar
</button>

<div *ngIf="itemBorrado; else noBorrado">
  <h3>Héroes borrados: </h3>
  <span>{{itemBorrado}}</span>
</div>

<ng-template #noBorrado>
  <h3>No ha borrado nada</h3>
</ng-template>
